<div class="h-100 d-sm-flex">
    <div class="w-17 border-end d-none d-sm-flex flex-column vh-100">
        <div class="text-center p-3 fw-bold fs-5 header">
            <i class="fa fa-id-card-o" aria-hidden="true"></i> Admin Dashboard UI
        </div>
        <div *ngFor="let menu of menus;" [routerLink]="menu?.link" (click)="menuClicked(menu?.label, false)"
            class="menu border px-4 py-3 pointer" [ngClass]="{'selectedMenu': menu?.label == selectedMenu}">
            <i class='fa {{menu?.faIcon}} pe-2' aria-hidden="true"></i> {{menu?.label}}
        </div>
        <div class="user-info px-4 py-3 mt-auto border">
            <i class="fa fa-user-secret" aria-hidden="true"></i> Welcome! Admin
        </div>
    </div>

    <!-- Menu button for mobile screen -->
    <div class="d-sm-none menu-icon w-100 py-1">
        <div class="d-flex justify-content-center">
            <i (click)="mobileMenuClicked()" class="fa fa-bars" aria-hidden="true"
                style="color: #f00058; font-size: 30px;"></i>
        </div>

        <div *ngIf="showMobileMenu">
            <div *ngFor="let menu of menus;" [routerLink]="menu?.link" (click)="menuClicked(menu?.label, true)"
                class="menu border px-4 py-3 pointer" [ngClass]="{'selectedMenu': menu?.label == selectedMenu}">
                <i class='fa {{menu?.faIcon}} pe-2' aria-hidden="true"></i> {{menu?.label}}
            </div>
        </div>
    </div>

    <div class="overflow-auto p-4 content-area">
        <router-outlet></router-outlet>
    </div>
</div>