.header {
    background: #f00058;
    background: linear-gradient(90deg, rgba(240, 0, 88, 1) 100%, rgba(255, 149, 0, 0.95) 100%);
    color: white;
}

.menu {
    background: #f00058;
    background: linear-gradient(90deg, rgba(240, 0, 88, 1) 100%, rgba(255, 149, 0, 0.95) 100%);
    color: white;
}

.menu:hover {
    background: linear-gradient(90deg, rgb(255, 41, 120) 100%, rgba(255, 149, 0, 0.95) 100%);
}

.selectedMenu{
    background: linear-gradient(90deg, rgb(255, 41, 120) 100%, rgba(255, 149, 0, 0.95) 100%);
}

.user-info {
    color: #f00058;
}