.menu {
    background: #f00058;
    background: linear-gradient(90deg, rgba(240, 0, 88, 1) 100%, rgba(255, 149, 0, 0.95) 100%);
    color: white;
}

.heading {
    background: #ff8e42;
    background: linear-gradient(90deg, rgba(255, 142, 66, 1) 100%, rgba(252, 176, 69, 1) 100%);
    color: white;
}