html, body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.w-17{
    width: 17%;
}

.w-83{
    width: 83%;
}

.tborder{
    border: 2px solid red;;
}

.pageNotFound{
    color: red;
}

.pointer{
    cursor: pointer;
}

table{
    width: 100%;
}

thead th{
    border-bottom: 1px solid grey;
}

td, th{
    border: 1px solid #dddddd;
    text-align: left;
    padding: 10px;
}

th{
    border-bottom: 1px solid grey;
}

tr:nth-child(even){
    background-color: #dddddd;
}