html, body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.w-17{
    width: 17%;
}

.w-83{
    width: 83%;
}

.tborder{
    border: 2px solid red;;
}

.pageNotFound{
    color: red;
}

.pointer{
    cursor: pointer;
}